<html>
  <head>
    <title>Potin</title>
  </head>
  <body>
    <section class="section_potin">
      <div class="align_center">
        <% if @gossips %>
          <h1>Potin n°<%= @gossips.id %> </h1>
          
          <h2>Créé par <%= @gossips.user.first_name %></h2>
            <h3><%=@gossips.title %></h3>
            <p class="p_petit">
          <%= @gossips.description %>
          </p>
          <% else %>
          <p>Le potin que vous recherchez n'existe pas.</p>
          <% end %>
          <div class="align_row">
            <a class="btn" href="/accueil">Revenir à la page d'accueil</a><br>
            <%# <a href="/gossips/<%=@gossips.id%>
            <%#/edit">
              <%# Mettre à jour %>
            <%# </a> %>

            <a class="btn" href="/gossips/<%=@gossips.id%>/user">Voir le profil de l'auteur</a>
          </div>
      <div>
    </section>
  </body>
</html>