<html>
  <head>
    <title>Potin</title>
  </head>
  <body>
    <section class="section_potin">
      <div class="align_center">
    <h1>Page profil de <%= @gossips.user.first_name%></h1>
    <p class="p.petit">
      Nom : <%= @gossips.user.last_name %><br>
      Email : <%= @gossips.user.email %><br>
      Age : <%= @gossips.user.age %><br>
      Description : <%= @gossips.user.description %><br>
      Ville : <%= @gossips.user.city.name %><br>
    </p>
    <a class="btn" href="/accueil">Revenir à la page d'accueil</a>
    </div>
    </section>
  </body>
</html>
