<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Edit comment</title>
</head>
<body>
  <%= render 'shared/header' %>
  <main>
    <% if flash[:error]%>
      <div class="alert alert-danger" role="alert">
        <%= flash[:error]%>
      </div>
    <% end %>

    <section class=section_center>
      <div class="align_center">
        <h1 class=margin_title> Modifie ton commentaire </h1>
        <%= form_tag url_for(controller:'comments', action: 'update'), method: "patch", class:"form-row" do %>
          <%= text_field_tag :description, nil, value: @comment.description, class:"form-control" %><br>
          <div class="align_row">
            <%= submit_tag "Modifier", class:'btn' %>
            <%end%>
            <%= button_to "Supprimer", @comment, method: :delete, class:"btn"%>
          </div>
      </div>
    </section>
  </main>
</body>
</html>