<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>S'inscrire</title>
</head>
<body>
  <main>
    <section class=section_center>
      <div>
        <h1> Inscris-toi  </h1>
        <%= form_tag url_for(controller:'users', action: 'create'), method: "post", class:"form-row" do %>
          <%= text_field_tag :first_name, nil, placeholder: "Prénom ?", class:"form-control" %><br>
          <%= text_field_tag :last_name, nil,placeholder: "Nom ?", class:"form-control" %><br>
          <%= text_field_tag :email, nil, placeholder: "Email", class:"form-control" %><br>
          <%= text_field_tag :age, nil, placeholder: "Ton age", class:"form-control" %><br>
          <%= text_field_tag :description, nil,  placeholder: "Présente-toi", class:"form-control" %><br>
          <%= select_tag :city_id, options_for_select(@cities.collect{ |city| [city.name, city.id] }), class:"form-control"%><br>
          <%= text_field_tag :password_digest, nil, placeholder: "Mot de passe", class:"form-control" %><br>
          <%= text_field_tag :password_confirmation, nil, placeholder: "Confirme ton mot de passe", class:"form-control" %><br>
          <%= submit_tag "S'inscrire", class:'btn'%>
        <%end%>
      </div>
    </section>
  </main>
</body>
</html>
