<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
</head>
<body>
  <%= render 'shared/header' %>
  <main>
    <% if flash[:success] %>
      <div class="alert alert-success" role="alert">
      <%= flash[:success]%>
      </div>
    <%end%>
    <section class=section_center>
      <div class="align_center">
        <h1> Bienvenue <%= @firstname %></h1>
        <p>Le site est tout nouveau ! Sois l'un des premiers à partager un gossip ! </p>
        <a href="/gossips/new" class="btn btn-primary"> Créer un gossip</a>
      </div>
      <div class=cards>
        <% Gossip.all.each do |gossip| %>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= gossip.user ? gossip.user.first_name : "Anonyme"%></h5>
              <p class="card-text"><%= gossip.title %></p>
              <a href="/gossips/<%=gossip.id%>" class="btn btn-primary">Voir le potin</a>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </main>
</body>
</html>