<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
</head>
<body>
  <%= render 'shared/header' %>
  <main>
    <% if flash[:success] %>
      <div class="alert alert-success" role="alert">
      <%= flash[:success]%>
      </div>
    <%end%>
    <section class=section_center>
      <div class="align_center">
        <h1> Bienvenue <%= current_user ? current_user.first_name : @firstname%></h1>
        <p>Le site est tout nouveau ! Sois l'un des premiers à partager un gossip ! </p>
        <a href="/gossips/new" class="btn btn-primary"> Créer un gossip</a>
      </div>
      <div class=cards>
        <% Gossip.all.each do |gossip| %>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= gossip.user ? gossip.user.first_name : "Anonyme"%></h5>
              <p class="card-text"><%= gossip.title %></p>
              <a href="/gossips/<%=gossip.id%>" class="btn btn-primary">Voir le potin</a>
              <div class="space_between_inline">
                <div class="blue align_row">
                  <i class="bi bi-chat-dots like"></i> <div class=like><%=gossip.comments.count%></div>
                </div>
              
                <div class="align_row">
                  <%if current_user.present?%>
                    <%= form_tag url_for(controller:'likes', action: 'create'), method: "post", class: "no_decoration" do %>
                      <%= hidden_field_tag :gossip_id, gossip.id %>
                      <%unless (@like = Like.find_by(user_id: current_user.id , gossip_id: gossip.id))%>
                        <%= button_tag(type: 'submit', class: 'no_decoration') do %>
                            <i class="bi bi-hand-thumbs-up-fill like"></i>
                        <% end %>
                      <%end%>
                    <%end%>
                    <%if (@like = Like.find_by(user_id: current_user.id , gossip_id: gossip.id))%>
                      <%= form_tag like_path(@like.id), method: :delete do %>
                        <%= button_tag "Supprimer", class: 'no_decoration' do%>
                          <i class="bi bi-hand-thumbs-up like"></i>
                        <%end%>
                      <% end %>
                    <%end%>
                  <%end%>
                  <div class=like> <%=gossip.likes.count%> </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </main>
</body>
</html>